html {
    background-color: rgba(213, 186, 7, 0.148);
}


h1 {
    color: black;
    font-size: 40px;  
    text-align: center;
    padding: 20px;
}


#myself {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;    
    margin: 20px auto;
    width: fit-content;
}


#myself h2 {
    color: black;
    border: 0.1rem solid teal;
    width: 300px;
    padding: 10px;
    text-align: center;
}

#myself img {
    margin: 10px;
    border: 3px solid orange;
}


.contents {
    display: inline-block;
    width: 300px;
    margin: 5px auto;
    padding: 10px;
    border: 3px solid darkolivegreen;
    border-style: outset;
    text-align: center;
}


.titles {
    text-align: center;
    background-color: teal;
    color: white;
}
